.main-visual
  = image_tag '/images/visual-bg.jpg', alt: '画像背景', height: '522px', width: '100%', class: 'main-visual__img--bg'
  .main-visual__images
    = image_tag '/images/visual-1.jpg', id: "main-visual__images-js", alt: '画像背景', class: 'main-visual__img--main'

.main-body
  %h1.main-body-title 参加予定の練習

  .latest-practice__items
    %article.latest-practice
      .latest-practice__item
        .latest-practice__item__img 
          = image_tag '', id: "practice-image", alt: '練習画像', class: 'practice-img'
        .latest-practice__item__status
          %p 募集中
          %p.second 空きあり
        .latest-practice__item__title
          %p バドミントン同好会
        %ul.latest-practice__item__infolist
          %li 開催日：2020年8月8日
          %li 場所：総合体育館

    %article.latest-practice
      .latest-practice__item
        .latest-practice__item__img
          = image_tag '', id: "practice-image", alt: '練習画像', class: 'practice-img'
        .latest-practice__item__status
          %p 募集中
          %p.second 空きあり
        .latest-practice__item__title
          %p バドミントン同好会
        %ul.latest-practice__item__infolist
          %li 開催日：2020年8月8日
          %li 場所：総合体育館
  
  %h1.main-body-title 募集中の練習

  .latest-practice__items
    %article.latest-practice
      .latest-practice__item
        .latest-practice__item__img 
          = image_tag '', id: "practice-image", alt: '練習画像', class: 'practice-img'
        .latest-practice__item__status
          %p 募集中
          %p.second 空きあり
        .latest-practice__item__title
          %p バドミントン同好会
        %ul.latest-practice__item__infolist
          %li 開催日：2020年8月8日
          %li 場所：総合体育館

    %article.latest-practice
      .latest-practice__item
        .latest-practice__item__img
          = image_tag '', id: "practice-image", alt: '練習画像', class: 'practice-img'
        .latest-practice__item__status
          %p 募集中
          %p.second 空きあり
        .latest-practice__item__title
          %p バドミントン同好会
        %ul.latest-practice__item__infolist
          %li 開催日：2020年8月8日
          %li 場所：総合体育館