.relative-nav
  %nav.nav-main
    %ul.nav-main__list
      %li.nav-main__list__item1
        = link_to "メニュー", ""
      %li.nav-main__list__item2
        = link_to "グループを作成する", new_group_path
      %li.nav-main__list__item3
        = link_to "メニュー", ""
      %li.nav-main__list__item4
        = link_to "メニュー", ""
      %li.nav-main__list__item5
        = link_to "メニュー", ""